@font-face {
    font-family: "Poppins-SemiB";   /*Can be any text*/
    src: local("Poppins-SemiB"),
      url("../../Fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";   /*Can be any text*/
    src: local("Poppins-Regular"),
      url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}

.greenBg{
  background-color: #0F6938; 
}

.modalTitle{
    font-family: "Poppins-SemiB";
    font-size: 20pt;
    letter-spacing: 0px;
    color:#2e2a25;
}

.modalText{
    font-family: "Poppins-Regular";
    font-size: 15pt;
    font-weight: 500;
    letter-spacing: 0.2px;
    color:#2e2a25;
}

.navBarLoginButtonBorder:hover{
    background-color:  #eb8301;
    color:#FFFFFF;
}

.navBarLoginButtonBorder{
    background-color: #FFFFFF;
    font-weight: 600;
    color: #0F6938;
    border-radius: 0.3rem !important;
}

.navBarLoginTextButton {
    font-family: "Poppins";
    text-transform: uppercase;
    color:  #0F6938; 
    transition: 0.3s;
    font-size: 16px;

    position: relative;
    white-space: nowrap;
    padding: 12px 40px 12px 40px;
    margin-left: 5px;
   
    letter-spacing: 0.5px !important;
    display: inline-block !important;
}