@font-face {
    font-family: "Poppins-SemiB";   /*Can be any text*/
    src: local("Poppins-SemiB"),
      url("../../Fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";   /*Can be any text*/
    src: local("Poppins-Regular"),
      url("../../Fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";   /*Can be any text*/
    src: local("Poppins-Medium"),
      url("../../Fonts/Poppins-Medium.ttf") format("truetype");
}

.titleText{
    font-family: "Poppins-Regular";
    letter-spacing: 0.5px;
    text-transform: uppercase;

}
.buttonText{
    font-family: "Poppins-Medium";
    font-size: 14pt;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.infoText{
    font-family: "Poppins-Medium";
    letter-spacing: 0.5px;
}

.placeholderText{
    font-family: "Poppins-Regular";
    font-size: 12pt;
    letter-spacing: 60;
}

.relevantText{
    font-family: "Poppins-Regular";
    letter-spacing: 0.5px;
}

.placeholderTextOnInput:focus{
    border-color: #0F6938;
}

.greenText{
    color:#0F6938;
}

.purpleText{
    color: #6c3333;
}

.yellowTextHover:focus, .yellowTextHover:hover{
    color: #eb8301;
    transition: 0.5s;
}

.greenTextHover:focus, .greenTextHover:hover{
    color:#0F6938;
    transition: 0.5s;
}

.lightGreyBg{
    background-color: #e7e6e6;
}

.yellowBg{
    background-color: #eb8301;
}

.yellowText{
    color: #eb8301;
}

.purpleTextHover:focus, .purpleTextHover:hover{
    color: #6c3333;
    transition: 0.5s;
}

.hoverYellowBg:hover, .hoverYellowBg:focus{
    transition: 0.7s;
    background-color: #eb8301;
}


.greenBg{
    background-color: #0F6938;
}

.purpleBg{
    background-color: #6c3333;
}

.redText{
    color: #DA1212;
}
